title {

}

body {
  background-color: slategray;
}

header {
  border: 5px solid black;
  border-radius: 10px;
}

h1.header {
  font-family: 'STIX Two Text', serif;
}

.salmon {
  color:salmon;
}

main {
  border: 5px solid black;
  border-radius: 10px;
}

h2 {
  font-family: 'STIX Two Text', serif;
}

table {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
}